<div class="regist-wrapper">
  <div class="header">
    <div class="header-title">
      <%= link_to "Plans App", root_path, class: "header-link" %>
    </div>
  </div>

  <div class="regist-content">
    <div class="contents">
      <div class="welcome">Plans Appへようこそ！</div>
      <div class="welcome-sub">新規登録して利用を開始しましょう。</div>
    </div>
  </div>

  <div class="registration">
    <div class="regist-left">
      <a href="#" class="twitter-regist"><i class="fab fa-twitter regist-icon"></i>Twitterアカウントで登録</a>
      <a href="#" class="facebook-regist"><i class="fab fa-facebook-square regist-icon"></i>Facebookアカウントで登録</a>
      <p>Plans Appが許可なくTwitter・Facebookに投稿することはありません。</p>
      <p>もしPlans Appのアカウントを持っている場合は<%= link_to 'ログイン', new_user_session_path, class: "regist_session" %>をクリック</p>
    </div>
    <div class="regist-right">
      <%= form_with(model: @user, url: user_registration_path, method: :post, local: true) do |f| %>
        <%= render "devise/shared/error_messages", model: @user %>

        <div class="username-rule hidden" id="username-rule">
        </div>
        <div class="field">
          <%= f.text_field :id, autofocus: true, placeholder: "ユーザー名", class: "user-regist" %>
        </div>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "user-regist" %>
        </div>

        <div class="password-rule hidden" id="password-rule">
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "user-regist" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認用)", class: "user-regist" %>
        </div>

        <div class="check">
          <input type="checkbox" value="" class="checkbox"><a href="#">利用規約</a>に同意する
        </div>

        <div class="check">
          <input type="checkbox" value="" class="checkbox"><a href="#">プライバシーポリシー</a>に同意する
        </div>

        <div class="actions">
          <%= f.submit "登録する" , class: "regist-btn" %>
        </div>
      <% end %>
    </div>
  </div>


</div>
