<div class="wrapper">
  <div class="session-header">
    <%= render 'shared/session_header' %>
      <div class="session-right">
        <%= link_to root_path do %>
          <i class="fas fa-home home"></i>
        <% end %>
        <a href="#" class="post"><i class="fas fa-pen-square"></i>投稿する</a>
        <a href="#" class="upper-notification"><i class="far fa-bell"></i>0</a>
        <%= link_to user_path(current_user.id), class: 'upper-usericon' do %>
          <%# if @user.intro.present? %>
          <%# image?にしないとエラーが起こる時がある %>
          <% if @user.intro.image? %>
            <div class="session-usericon">
              <img src='<%= @user.intro.image %>' class="index-icon" alt="ユーザーアイコン">
             </div> 
           <% else %> 
            <div class="session-usericon">
              <img src="/assets/default.png" class="index-icon" alt="ユーザーアイコン" >
            </div>
          <% end %> 
        <% end %>
      </div>
    </div>
  </div>
  </div>
  <div class="mypage">
    <div class="mypage-left">
      <div class="mypage-drop">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-h"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">コメント履歴</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">フォローしているユーザー</a>
          <div class="dropdown-divider"></div>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </div>
      <%# if @user.intro.present? %>
      <%# image?にしないとエラーが起こる時がある %>
      <% if @user.intro.image? %>
        <div class="mypage-usericon">
          <img src='<%= @user.intro.image %>' class="intro-icon " alt="ユーザーアイコン">
        </div>
      <% else %>
        <div class="mypage-usericon">
          <img src="/assets/default.png" class="intro-icon " alt="ユーザーアイコン" >
        </div>
      <% end %>
      
      <% if @user.intro.present? %>
        <div class="mypage-name">
          <div class="mypage-first-name">
            <%= @user.intro.first_name %>
          </div>
          <div class="mypage-last-name">
            <%= @user.intro.last_name %>
          </div>
        </div>
        <div class="mypage-up-username">
          <div class="mypage-up-nickname">
            <%= @user.nickname%>
          </div>
        </div>
      <% else %>
        <div class="mypage-username">
          <div class="mypage-nickname">
            <%= @user.nickname%>
          </div>
        </div>
      <% end %>

      <% if @user.intro.present? %>
        <div class="mypage-web">
         <a href="#"><i class="fas fa-clipboard-list"></i><%= @user.intro.website %></a>
        </div>
      <% end %>

      <% if @user.intro.present? %>
        <div class="mypage-introduce">
           <div class="introduce">
            <%= @user.intro.profile %>
          </div>
        </div>
      <% else %>
        <div class="mypage-profile">
          <div class="mypage-profile-sentence">
            プロフィールを編集してみましょう！
          </div>
        </div>
      <% end %>
      <div class="mypage-user-details">
        <div class="mypage-count">
          <div class="mypage-notes-count">
            <a href="#" class="detai">投稿</a>
            <p class="count">0</p>
          </div>
          <div class="mypage-favorite-count">
            <a href="#" class="detail">いいね</a>
            <p class="count">0</p>
          </div>
          <div class="mypage-follower-count">
            <a href="#" class="detail">フォロワー</a>
            <p class="count">0</p>
          </div>
        </div>
      </div>
      <% if user_signed_in? %>
        <% unless @user.intro.present? %>
          <% if current_user.id == @user.id %>
            <div class="profile-btn">
              <%= link_to 'プロフィールを編集する', new_intro_path, class: "profile-edit-btn" %>
            </div>
          <% end %>
        <% end %>
        <% if current_user.id == @user.id && @user.intro.present? %>
          <div class="profile-btn">
            <%= link_to 'プロフィールを編集する', edit_intro_path(@user.intro.id), class: "profile-edit-btn" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="user-activity">
    </div>
  </div>
  <div class="mypage-footer">
    <%= render 'shared/footer' %>
  </div>
</div>