<div class="top-right-content">
  <div class="top-user-card">
    <div class="detail-page-user-card">
      <%= link_to user_path(@user.id), class: 'upper-usericon' do %>
        <% if @user.intro.present? %>
          <%= image_tag @user.intro.image, class: "detail-user-page-icon", alt: "ユーザーアイコン" %>
        <% else %>
          <img src="/assets/default.png" class="detail-user-page-icon " alt="ユーザーアイコン" >
        <% end %>
      <% end %>
    </div>
    <div class="detail-page-user-name">
      <% if @user.intro.present? %>
        <div class="detail-user-name">
          <p class="detail-user-firstname"><%= @user.intro.first_name%></p>
          <p class="detail-user-lastname"><%= @user.intro.last_name%></p>
        </div>
      <% else %>
        <div class="detail-user-nickname">
          <%= @user.nickname %>
        </div>
      <% end %>
    </div>
    <div class="user-status">
      <div class="user-status-top">
        <div class="user-status-note">
          <%= link_to '投稿', user_path(@user.id), class: "status" %>
          <span><%= @user.notes.count %></span>
        </div>
        <div class="user-status-fav">
          <%= link_to "いいね", "/favorites/user/#{@user.id}", class: "status" %>
          <span><%= @user.favorites.count %></span>
        </div>
        <div class="user-status-comment">
          <%= link_to "コメント", "/comments/user/#{@user.id}", class: "status" %>
          <span><%= @user.comments.count %></span>
        </div>
      </div>
      <div class="user-status-bottom">
        <div class="user-status-follow">
          <%= link_to 'フォロー', "/followings/user/#{@user.id}", class: "status" %>
          <span><%= @user.followings.count%></span>
        </div>
        <div class="user-status-follower">
          <%= link_to 'フォロワー', "/followers/user/#{@user.id}", class: "status" %>
          <span><%= @user.followers.count %></span>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-page-user-notes">
    <div class="item-list-navi">
      <i class="fas fa-square item-list-squere"></i><b><%= @user.nickname %></b>'s NOTES
    </div>
    <% @user.notes.each do |note| %>
      <li class="my-item-list">
        <div class="my-item-list-content">
          <div class="my-item-list-tag">
            <% note.tags.each do |tag| %>
              <i class="fas fa-tags my-list-tag-img"></i>
              <%= link_to "#{tag.name}", "/tag/#{tag.id}/notes", class: "tag" %>
            <% end %>
          </div>
          <div class="my-item-list-detail">
            <%= link_to note_path(note.id), class: "my_list_note_link" do %>
              <%= note.title%>
            <% end %>
          </div>
        </div>
        <div class="my-item-list-rower">
          <div class="my-item-list-opt">
            <i class="fas fa-book myitem-like-btn"></i><span><%= note.favorites.count %></span>
            <i class="far fa-comment myitem-comment-btn"></i><span><%= note.comments.count %></span>
          </div>
          <div class="my-item-list-created">
            <%= note.created_at.strftime('%Y/%m/%d') %>
          </div>
        </div>
      </li>
    <% end %>
      <div class="my-detail-page-nation">
        <span><%= paginate @notes %></span>
      </div>
    </div>
  </div>
</div>